.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.attacker,
.runner,
.sum {
  flex: 0 0 20%;
  text-align: center;
}

.label {
  color: #9d9dae;
  font-size: 16px;
  text-transform: uppercase;
}

.score {
  font-size: 40px;
  background-clip: text;
  overflow: hidden;
  text-overflow: ellipsis;
  color: transparent;
  line-height: 1;
  font-family: "Kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;

  .attacker & {
    background-color: #f087ff;
  }

  .runner & {
    background-color: #1fcff1;
  }

  .sum & {
    background-color: #199890;
  }

  @media screen and (max-width: 500px) {
    font-size: 28px;
  }
}
