.leaderBoard {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title,
.subtitle {
  margin: 0;
  color: #07acff;
  font-family: "Kallisto", sans-serif;
  font-style: bold;
  text-align: center;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 18px;
}

.leaders {
  width: 100%;
  background-color: #2a2f43;
  // color: #07acff;

  thead {
    background-color: #07acff;
  }

  .blue {
    color: #07acff;
  }
  td,
  th {
    padding: 2px;
    border-bottom: 1px solid #aaa;
  }

  th {
    font-size: 12px;
    text-align: center;
  }
}

.placement {
  text-align: center;
}
